h1, h2 {
    font: normal 170% , arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;
}

.header {
    background-color: #f9f9f9;
    height: 77px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.header p, h1 {
    font-size: 140%;
    margin:5px;
    padding-left: 180px;
    
}

    .header h1 {
        font-size: 180%;
    }


    .logo_cv_text {
        text-align: left;
    }

h2 {
    font-size: 140%;
}

.site_content, .footer, header {
    margin-left: auto;
    margin-right: auto;
}

.site_content {
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: white;
}

.sidebar_container {
    float: left;
    width: 224px;
}

.sidebar{
    float: left;
    width: 222px;
    padding: 5%;
    margin: 0 0 8px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.contentbar_container {
    width: 610px;
    float: right;
}
    
.contentbar {
    float: left;
    width: 610px;
    padding: 5%;
    margin: 0 0px 16px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.footer {
    width: 100%;
    height: 100px;
  
    text-align: center;
    background-color: #f9f9f9;
    color: #a8aa94;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}


.logo_rss {
    float: right;
    padding: 7px 20px 0px 0;
    }
.git_link {
    float: right;
    padding: 65px 60px 0px 0;
}

.created {
    float: right;
    padding: 50px 60px 0px 0;
}

.foto {
    float: left;
}


